<mat-toolbar color="primary">
  <span><a routerLink="/">My Society</a></span>
  <span class="spacer"></span>
  <ul>

    <li >
      <a mat-button routerLink="/owner-list" routerLinkActive="mat-accent">Owners</a>
    </li>
    <li >
      <a mat-button routerLink="/addowner" routerLinkActive="mat-accent">Add Owner</a>
    </li>
    <li >
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li >
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>



  </ul>
</mat-toolbar>
