@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #009688;
  --light-color: #f7f7f7;
  --dark-color: #333;
  --secondary-color: #e65100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.px-1 {
  padding: 0 1.5rem;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-2 {
  padding: 2rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-3 {
  padding: 3rem;
}
.p-2 {
  padding: 2rem;
}

#navbar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: var(--primary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  /* border-bottom: 1px solid #ccc; */
}

#navbar h1 {
  cursor: pointer;
}
#navbar h1:hover,
#navbar i:hover {
  opacity: 0.8;
  transition: all 0.5s ease-in;
}
#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  height: 100%;
  padding-right: 1rem;
}

#navbar ul li i {
  font-size: 1rem;
  padding-right: 0.5rem;
}

#navbar ul li:hover {
  transition: all 0.3s ease-in;
  background: var(--light-color);
  color: var(--primary-color);
}

#navbar ul li a {
  padding-right: 0.5rem;
}

#navbar ul li a:hover,
#navbar ul li i:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

#content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  /* overflow: hidden; */
}

.sidebar {
  width: 100%;
  background: var(--light-color);
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  background: white;
  padding-right: 2rem;
}

.sidebar ul li a {
  display: block;
  padding: 1rem;
  color: var(--dark-color);
}
.sidebar ul li a i {
  padding-right: 0.5rem;
}

.sidebar ul li a:hover {
  background: var(--primary-color);
  color: white;
  transition: all 0.3s ease-in;
}

.main-content-heading {
  color: var(--dark-color);
  font-size: 1.2rem;
}

.main-content-sub-heading {
  padding-left: 1.2rem;
}

.box {
  gap: 1rem;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  background: var(--light-color);
}

.box .box-header {
  color: var(--primary-color);
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.box .box-action-button {
  text-align: end;
}
.bill-info {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

.bill-info h4 {
  padding: 0.5rem;
}

.value {
  color: var(--primary-color);
}

.btn {
  background: var(--primary-color);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-light {
  background: var(--light-color);
  color: var(--primary-color);
}
.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}
.btn-tenant-add {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.btn-tenant-add a {
  border-radius: 50%;
}
.btn-tenant-add a:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.5s all ease-in-out;
}
.box-action-button a:hover {
  opacity: 0.7;
  transition: all 0.5s ease-in;
  color: var(--dark-color);
}
.table-head-row {
  font-weight: bold;
  margin-bottom: 1rem;
}
.table-body-row {
  padding: 1rem;
}
.year-dropdown {
  width: 150px;
  border-style: none;
  border: 0.5px solid #777;
  background: var(--light-color);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-family: inherit;
}
.tenant-info {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.tenant-info h4 {
  padding: 1rem;
}
.tenant-info-sub-heading {
  columns: var(--dark-color);
}

.landing-content {
  background: url("./img/architectural-design-architecture-beach-bridge-453201.jpg")
    center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  /* margin-top: 70px; */
}

.landing-content h1 {
  font-size: 4rem;
  /* color: var(--primary-color); */
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.landing-content p {
  font-size: 2rem;
  padding: 2rem;
  color: var(--light-color);
}

.landing-content-btn {
  display: inline;
}
.landing-content-btn a {
  margin: 0 1rem;
  padding: 1rem 2rem;
}
.landing-content-btn a:hover {
  background: var(--dark-color);
  color: white;
  transition: all 0.5s ease-in-out;
}

.register {
  margin-top: 5rem;
}
.custom-label {
  margin-bottom: 0;
}
.content-dashboard {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  margin-top: 70px;
  /* position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 90vh;
  overflow: hidden; */
}
.grid-two-by-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flat-owner-info {
  padding: 1rem;
}
#grid-one-by-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.bg-light {
  background: white;
}
.bg-grey {
  background: var(--light-color);
}
.small-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px soli var(--light-color);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}
.small-box h5 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.small-box :nth-child(7) {
  grid-column: 1 / span 2;
}
.small-box a:hover {
  background: var(--dark-color);
  color: var(--light-color);
  transition: all 0.5s ease-in-out;
}
.box-notice {
  margin: 0 2rem;
  margin-right: 0;
  border-radius: 5px;
  border: 1px solid var(--light-color);
}
.notice-box {
  background: white;
  border-bottom: 1px solid var(--light-color);
  color: #777;
  margin: 0;
  padding: 1rem 1rem;
}
.notice-box:hover {
  background: #f7f7f7;
  color: #333;
  transition: all 0.5s ease-in;
}
.box-form {
  max-width: 30rem;
  margin: 7rem 0;
}
.box-form .btn-primary {
  padding: 1rem 2rem;
}
.box-form p {
  color: var(--dark-color);
  font-size: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form-group input,
.form-group label {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}
.form-group input {
  border: 1px solid #ccc;
  margin-top: 0.25rem;
  width: 80%;
}
.roles {
  display: flex;
  flex-direction: row;
}
.form-group input[type="radio"] {
  width: 5%;
}
.form-group label {
  width: auto;
}
.form-group input[type="radio"]:checked {
  background-color: var(--primary-color);
  color: red;
}

/*-- Admin--*/

/* Ipad */
@media screen and (max-width: 768px) {
  #navbar i {
    padding: 1rem;
  }
  .landing-content h1 {
    font-size: 2.5rem;
  }
  .landing-content p {
    font-size: 1.5rem;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .box-form {
    max-width: 80%;
  }
  .box-form p {
    font-size: 0.8rem;
  }
  .content-dashboard {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
  #grid-one-by-two {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Phone */
@media screen and (max-width: 475px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #navbar i {
    padding: 1rem;
  }
  #navbar h1 {
    font-size: 1rem;
  }
  #navbar ul li {
    font-size: 0.8rem;
  }
  #navbar ul li i,
  #navbar ul li a {
    padding: 1rem 0.5rem;
  }
  .landing-content h1 {
    font-size: 2.5rem;
  }
  .landing-content p {
    font-size: 1.5rem;
  }
  .register {
    margin-top: 3rem;
  }
  .box {
    margin-top: 5rem;
  }
  .box-form {
    max-width: 80%;
  }
  .box-form p {
    font-size: 0.8rem;
  }
  .sidebar {
    display: none;
  }
  #content {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    height: 100%;
  }
  .content-dashboard {
    display: grid;
    grid-template-columns: 1fr;
  }

  #grid-one-by-two {
    display: grid;
    grid-template-columns: 1fr;
  }
  .box {
    width: 91.75%;
    margin: 0 1rem;
  }
  .grid-two-by-four {
    display: grid;
    grid-template-columns: 1fr;
  }
  .small-box h5 {
    font-size: 0.8rem;
  }
  .box-notice {
    margin: 1rem 1rem;
  }
  /* Mybill page style */
  .main-content-heading {
    margin-top: 1rem;
  }
  .bill-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-content {
    width: 100vw;
    padding-right: 0;
  }
  .main-content .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .bills-table {
    overflow: auto;
  }
  .table-head-row td {
    border-bottom: 1px solid var(--primary-color);
    padding: 0.5rem;
  }
  .table-body-row td {
    padding: 0.5rem;
  }
}
